#conteinerCadastrar {
  width: 300px;
  height: 400px;

  border: 2px solid #fff;
  border-radius: 50px;

  margin: auto;
  margin-top: 90px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
#conteinerCadastrar .erro-msg {
  color: red;
  margin: -13px;
}
#conteinerCadastrar h1 {
  margin-top: 20px;
  color: #fff;
}

#conteinerCadastrar a {
  color: chartreuse;
  text-decoration: none;
}
#conteinerCadastrar button {
  width: 100px;
  height: 30px;

  border-radius: 50px;
  background-color: #fff;
}
#conteinerCadastrar span {
  color: #fff;
}
.divInputCadastrar {
  background-color: #fff;
  width: 200px;
  height: 30px;

  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.divInputCadastrar input {
  border: none;
  margin-left: 2px;
}
.divInputCadastrar input:focus {
  outline: none;
}
.divInputCadastrarSenha {
  background-color: #fff;
  width: 200px;
  height: 30px;

  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.divInputCadastrarSenha input {
  border: none;
  margin-left: 2px;
  width: 75px;
}
.divInputCadastrarSenha input:focus {
  outline: none;
}

