#conteinerLogin {
  width: 300px;
  height: 300px;

  border: 2px solid #fff;
  border-radius: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  margin: auto;
  margin-top: 90px;
}
#conteinerLogin button {
  width: 100px;
  height: 30px;

  border-radius: 50px;
  background-color: #fff;
}
#conteinerLogin span {
  color: #fff;
}
#conteinerLogin a {
  color: chartreuse;
  text-decoration: none;
}
#tituloLogin {
  margin-top: 20px;
  color: #fff;
}
.divInputLogin {
  background-color: #fff;
  border-radius: 50px;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
}
.divInputLogin input {
  border: none;
  width: 140px;
}
.divInputLogin input:focus {
  outline: none;
}
.divInputLogin label {
  margin-left: 3px;
}
#noneLogin {
  display: none;
}
#divError {
  position: fixed;

  width: 250px;
  height: auto;
  padding: 20px;

  top: 40%;
  left: 50%;
  transform: translate(-50%, -100%);

  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #ff4d4d;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
#divError h3 {
  margin-bottom: 10px;
}
#divError p {
  margin-bottom: 10px;
}
#divError button{
  border: none;
  width: 60px;
  height: 24px;
  background-color: rgb(43, 128, 248);
  border-radius: 10px;
}
