#conteinerDados {
  width: 300px;
  height: 250px;

  margin: auto;
  margin-top: 30px;

  border: 2px solid #fff;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#tituloDados {
  margin-top: 20px;
  color: #fff;
}
.inputDados {
  width: 210px;
  height: 30px;

  background-color: #fff;

  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.inputDados input {
  border: none;
}
.inputDados input:focus {
  outline: none;
}
.errorDados{
    margin-top: -10px;
    color: #fff;
}
#conteinerDados button {
  width: 80px;
  height: 30px;

  border-radius: 10px;

  border: none;
  background-color: #fff;
}
