#conteinerMenu {
  position: sticky;
  top: 0;

  width: 100%;
  height: 11vh;
  margin-bottom: 6px;

  z-index: 100;
  background-color: #333;
}
.linkMenu button {
  width: 140px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 25px 0 0 20px;
  background-color: #363636;

  border-radius: 20px;
  border: none;
  color: #fff;
}
#butaoMenu {
  background-color: #333;
  border: none;
  color: none;
  cursor: pointer;
}
#iconMenu {
  margin: 13px 0 10px 10px;
  color: #fff;
  width: 45px;
  height: 45px;
}
#menu {
  display: flex;
  flex-direction: column;

  width: 40%;
  height: 100%;
  z-index: 110;

  position: fixed;
  top: 0;
  left: -70%;

  background-color: #242424;

  border-radius: 0 15px 15px 0;
}
#noneMenu {
  display: none;
}
#Back {
  width: 20px;
  height: 50px;

  margin-left: 40%;

  position: fixed;
  top: 46%;
  left: -70%;

  border: none;
  border-radius: 0 8px 8px 0;

  background-color: #242424;
}
#iconBack {
  color: #fff;
}
#exit {
  width: 70px;
  height: 30px;

  border-radius: 20px;
  border: none;

  margin: 15px 0 0 20px ;

  background-color: #6f0101;

  color: #fff;
}

@keyframes abrirMenu {
  from {
    left: -70%;
  }
  to {
    left: 0;
  }
}
@keyframes fecharMenu {
  from {
    left: 0;
  }
  to {
    left: -70%;
  }
}

.abrirMenu {
  animation-name: abrirMenu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.fecharMenu {
  animation-name: fecharMenu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
